.ProfilPhoto {
  margin-top: 29px;
  margin-bottom: 39px;
}

header {
  display: flex;
  justify-content: center;
}
.photo {
  height: 225px;
  box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2) 0 6px 20px 0 rgba (0, 0, 0, 0.19);
  border-radius: 109px;
  margin-left: 594px;
}
